@import url(https://fonts.googleapis.com/css?family=Raleway:300);

.wrapper{
  width: 1026px;
  margin: 0 auto;
}
html    {
    background-color: #9BBABF;
  }

img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
  font-style: italic;
  color: #731519;

}

#center-links {
  font-family: 'Raleway', sans-serif;
  font-size: 1.30em;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;

  }

p {
  float: right;
  margin: 10px 10px 10px 10px;
  font-family: "Raleway", sans-serif;
  font-size: .85em;
  width: 800px;
  padding: 10 10 10 10

}

footer > nav {
    position: fixed;
    margin: 500px 10% 0 15%;
    font-family: "Raleway", sans-serif;
    font-size: .75em;
    display: inline-block;
    clear: both;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}